################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ElasticFun/bin/Debug
/ElasticFun/obj/Debug
/packages
/ElasticFun/bin/Release
/ElasticFun/obj/Release
